@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --fc-event-bg-color: rgb(93, 165, 110);
    --fc-event-border-color: rgb(92, 150, 115);
    --fc-event-text-color: rgb(255, 255, 255);
    --fc-event-selected-overlay-color: rgb(92, 67, 67);
    --fc-today-bg-color: #e9dcba;
    --fc-next-button-bg-color: rgb(51, 112, 75);
    --fc-today-button-bg-color: rgb(33, 80, 51);
    --fc-button-border-color: rgb(33, 80, 51);
    --fc-button-bg-color: rgb(51, 112, 75);
    --fc-button-hover-bg-color: rgb(104, 183, 122);
    --fc-button-primary-bg-color: rgb(51, 112, 75);
    --background: 242, 242, 242;
    --color-text-base: 38, 38, 38;
    --color-text-muted: 64, 64, 64;
    --color-text-inverted: 255, 255, 255;
    --color-text-inverted-muted: 242, 242, 242;
    --color-fill: 255, 255, 255;
    --color-fill-1: 243, 245, 243;
    --color-fill-2: 225, 231, 225;
    --color-fill-3: 235, 233, 233;
    --color-primary-1: 93, 165, 110;
    --color-primary-l1: 104, 183, 122;
    --color-primary-l2: 155, 215, 168;
    --color-primary-d1: 48, 104, 61;
    --color-primary-d2: 37, 74, 45;
    --color-secondary-1: 245, 241, 226;
    --color-secondary-l1: 255, 253, 244;
    --color-secondary-l2: 255, 254, 249;
    --color-secondary-d1: 201, 196, 177;
    --color-secondary-d2: 139, 134, 117;
    --color-tertiary-1: 23, 20, 39;
    --color-tertiary-l1: 40, 35, 64;
    --color-tertiary-l2: 76, 71, 102;
    --color-tertiary-d1: 19, 16, 33;
    --color-tertiary-d2: 9, 7, 16;
  }
  [data-theme="dark"] {
    --fc-event-bg-color: rgb(51, 112, 75);
    --fc-event-border-color: rgb(92, 150, 115);
    --fc-event-text-color: rgb(255, 255, 255);
    --fc-event-selected-overlay-color: rgb(92, 67, 67);
    --fc-today-bg-color: rgb(102, 96, 82);
    --fc-next-button-bg-color: rgb(51, 112, 75);
    --fc-today-button-bg-color: rgb(33, 80, 51);
    --fc-button-border-color: rgb(33, 80, 51);
    --fc-button-bg-color: rgb(51, 112, 75);
    --fc-button-hover-bg-color: rgb(117, 188, 145);
    --fc-button-primary-bg-color: rgb(51, 112, 75);
    --background: 42, 41, 44;
    --color-text-base: 255, 255, 255;
    --color-text-muted: 230, 230, 230;
    --color-text-inverted: 38, 38, 38;
    --color-text-inverted-muted: 64, 64, 64;
    --color-fill: 42, 41, 44;
    --color-fill-1: 49, 48, 51;
    --color-fill-2: 52, 51, 54;
    --color-fill-3: 34, 33, 36;
    --color-primary-1: 93, 165, 110;
    --color-primary-l1: 48, 104, 61;
    --color-primary-l2: 37, 74, 45;
    --color-primary-d1: 104, 183, 122;
    --color-primary-d2: 155, 215, 168;
    --color-secondary-1: 80, 78, 73;
    --color-secondary-l1: 48, 46, 42;
    --color-secondary-l2: 27, 25, 22;
    --color-secondary-d1: 122, 120, 114;
    --color-secondary-d2: 180, 177, 172;
    --color-tertiary-1: 112, 140, 172;
    --color-tertiary-l1: 101, 127, 155;
    --color-tertiary-l2: 74, 100, 129;
    --color-tertiary-d1: 139, 165, 194;
    --color-tertiary-d2: 177, 198, 223;
  }
  /*   --color-primary-1: 93, 165, 110;
    --color-primary-l1: 104, 183, 122; 
    --color-primary-l2: 155, 215, 168; 
    --color-primary-d1: 48, 104, 61; 
    --color-primary-d2: 37, 74, 45; 

     --color-primary-1: rgb(51, 112, 75) ;
     --color-primary-l1: rgb(33, 80, 51); 
     --color-primary-l2: rgb(15, 49, 28); 
     --color-primary-d1: rgb(92, 150, 115); 
     --color-primary-d2: rgb(117, 188, 145);
*/

  /* #region  /**=========== Typography =========== */

  .h0 {
    @apply text-3xl md:text-6xl;
  }

  h1,
  .h1 {
    @apply text-4xl;
  }

  h2,
  .h2 {
    @apply text-3xl;
  }

  h3,
  .h3 {
    @apply text-2xl;
  }

  h4,
  .h4 {
    @apply text-xl;
  }
  h5,
  .h5 {
    @apply text-lg;
  }

  .p1 {
    @apply text-lg;
  }
  body,
  .p {
    @apply text-base;
  }

  /* #endregion  /**======== Typography =========== */

  .layout {
    /* 1100px */
    /*max-width: 68.75rem;*/
    @apply mx-auto w-11/12;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }

  .btn {
    @apply uppercase font-semibold py-2 px-4 shadow-md;
  }
  .btn-primary {
    @apply bg-primary-1;
  }
  .btn-secondary {
    @apply bg-primary-l1 text-muted;
  }
  .btn-empty {
    @apply bg-fill-1  text-muted hover:bg-primary-1;
  }

  .btn-delete {
    @apply bg-primary-l2 text-base;
  }
  .btn-modify {
    @apply bg-primary-d2 text-inverted;
  }
  .btn-create {
    @apply bg-primary-1;
  }

  .btn:hover {
    @apply bg-opacity-70;
  }

  input,
  textarea {
    @apply bg-transparent border border-primary-1;
  }
  input::placeholder,
  textarea::placeholder {
    @apply text-gray-400;
  }

  input[type="file"] {
    display: none;
  }
  ::-webkit-file-upload-button {
    @apply bg-transparent border-solid text-sm text-gray-600  hover:border-dotted;
  }
}

@layer utilities {
  .fc .fc-col-header-cell-cushion {
    /* needs to be same precedence */
    padding-top: 5px; /* an override! */
    padding-bottom: 5px; /* an override! */
    background-color: "primary-1";
  }

  .popup {
    @apply h-full top-0 w-screen bg-black fixed z-40 bg-opacity-60;
  }
  .pop-hide {
    display: none !important;
  }
  .window-pop {
    @apply z-50 fixed top-0 text-base h-screen md:top-1/4 flex flex-col w-full md:items-center  md:h-auto;
  }

  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
}
