@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 242, 242, 242;
    --color-text-base: 38, 38, 38;
    --color-text-muted: 64, 64, 64;
    --color-text-inverted: 255, 255, 255;
    --color-text-inverted-muted: 242, 242, 242;
    --color-fill: 242, 242, 242;
    --color-shadow: 38, 38, 38;
    --color-border: 64, 64, 64;
    --color-primary: 212, 226, 223;
    --color-secondary: 174, 202, 197;
    --color-error: 242, 100, 130;
    --color-error-hover: 238, 54, 93;
    --color-approve: 120, 202, 163;
    --color-approve-hover: 73, 183, 131;
    --color-link: 195, 162, 218;
    --color-link-hover: 167, 118, 200;
    --color-navlink-active: 243, 165, 117;
    --color-navlink-hover: 239, 135, 71;
    --color-button-accent: 76, 116, 108;
    --color-button-accent-hover: 88, 132, 123;
    --color-button-secondary: 111, 174, 191;
    --color-button-secondary-hover: 79, 156, 177;
  }

  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply text-5xl md:text-5xl;
  }

  h1,
  .h1 {
    @apply text-4xl md:text-4xl uppercase;
  }

  h2,
  .h2 {
    @apply text-4xl md:text-3xl;
  }

  h3,
  .h3 {
    @apply text-3xl md:text-2xl;
  }

  h4,
  .h4 {
    @apply text-xl md:text-lg;
  }

  body,
  .p {
    @apply text-xs md:text-base;
  }

  /* #endregion  /**======== Typography =========== */

  .layout {
    /* 1100px */
    max-width: 68.75rem;
    @apply mx-auto w-11/12;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }

  .btn {
    @apply text-skin-inverted font-semibold py-2 px-4 rounded;
  }
  .btn-misc {
    @apply text-sm py-1 text-skin-muted border-2 hover:bg-skin-primary;
  }

  .btn-purple {
    @apply bg-purple-3;
  }

  .btn-delete {
    @apply bg-delete;
  }

  .btn-create {
    @apply bg-create;
  }

  .btn:hover {
    @apply bg-opacity-70;
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }

  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }

  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
}
