@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --fc-event-bg-color: #4b925b;
    --fc-event-border-color: #4b925b;
    --fc-event-text-color: #fff;
    --fc-event-selected-overlay-color: 92, 67, 67;
    --fc-today-bg-color: #e9dcba;
    --background: 242, 242, 242;
    --color-text-base: 38, 38, 38;
    --color-text-muted: 64, 64, 64;
    --color-text-inverted: 255, 255, 255;
    --color-text-inverted-muted: 242, 242, 242;
    --color-fill: 255, 255, 255;
    --color-primary-1: 75, 146, 91;
    --color-primary-l1: 104, 183, 122; /*light-1*/
    --color-primary-l2: 155, 215, 168; /*lightest*/
    --color-primary-d1: 48, 104, 61; /*dark-1*/
    --color-primary-d2: 37, 74, 45; /*darkest*/
    --color-secondary-1: 245, 241, 226;
    --color-secondary-l1: 255, 253, 244;
    --color-secondary-l2: 255, 254, 249;
    --color-secondary-d1: 201, 196, 177;
    --color-secondary-d2: 139, 134, 117;
    --color-tertiary-1: 23, 20, 39;
    --color-tertiary-l1: 40, 35, 64;
    --color-tertiary-l2: 76, 71, 102;
    --color-tertiary-d1: 19, 16, 33;
    --color-tertiary-d2: 9, 7, 16;
  }
  .dark {
    --fc-event-bg-color: #31aca1;
    --fc-event-border-color: #48bdb3;
    --fc-event-text-color: #fff;
    --fc-event-selected-overlay-color: 92, 67, 67;
    --fc-today-bg-color: 255, 223, 40;
    --background: 242, 242, 242;
    --color-text-base: 38, 38, 38;
    --color-text-muted: 64, 64, 64;
    --color-text-inverted: 255, 255, 255;
    --color-text-inverted-muted: 242, 242, 242;
    --color-fill: 242, 242, 242;
    --color-shadow: 38, 38, 38;
    --color-border: 64, 64, 64;
    --color-footer: 89, 124, 100;
    --color-primary: #e97aeb;
    --color-secondary: 174, 202, 197;
    --color-error: 242, 100, 130;
    --color-error-hover: 238, 54, 93;
    --color-approve: 120, 202, 163;
    --color-approve-hover: 73, 183, 131;
    --color-link: 195, 162, 218;
    --color-link-hover: 167, 118, 200;
    --color-navlink-active: 243, 165, 117;
    --color-navlink-hover: 239, 135, 71;
    --color-button-accent: 76, 116, 108;
    --color-button-accent-hover: 88, 132, 123;
    --color-button-secondary: 111, 174, 191;
    --color-button-secondary-hover: 79, 156, 177;
  }

  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply text-5xl md:text-5xl uppercase font-bold;
  }

  h1,
  .h1 {
    @apply text-2xl lg:text-4xl uppercase;
  }

  h2,
  .h2 {
    @apply text-2xl lg:text-3xl font-bold uppercase;
  }

  h3,
  .h3 {
    @apply text-2xl lg:text-2xl uppercase;
  }

  h4,
  .h4 {
    @apply text-xl lg:text-xl uppercase font-bold;
  }

  .p1 {
    @apply text-lg;
  }

  body,
  .p {
    @apply text-base;
  }

  /* #endregion  /**======== Typography =========== */

  .layout {
    /* 1100px */
    /*max-width: 68.75rem;*/
    @apply mx-auto w-11/12;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }

  .btn {
    @apply text-inverted uppercase font-semibold py-2 px-4;
  }
  .btn-primary {
    @apply bg-primary-1;
  }

  .btn-delete {
    @apply bg-primary-l2 text-base;
  }
  .btn-modify {
    @apply bg-primary-d2;
  }
  .btn-create {
    @apply bg-primary-1;
  }

  .btn:hover {
    @apply bg-opacity-70;
  }
  input,
  textarea {
    @apply bg-transparent;
  }
  input::placeholder,
  textarea::placeholder {
    @apply text-gray-400;
  }

  input[type="file"] {
    display: none;
  }
  ::-webkit-file-upload-button {
    @apply bg-transparent border-solid text-sm text-gray-600  hover:border-dotted;
  }
}

@layer utilities {
  .fc .fc-col-header-cell-cushion {
    /* needs to be same precedence */
    padding-top: 5px; /* an override! */
    padding-bottom: 5px; /* an override! */
    background-color: blue;
  }

  .popup {
    @apply h-full top-0 w-screen bg-black fixed z-40 bg-opacity-60;
  }
  .pop-hide {
    display: none !important;
  }
  .window-pop {
    @apply z-50 fixed text-base top-1/4 flex flex-col items-center;
  }

  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
}
